<!DOCTYPE html>
{% extends 'rango/base2.html' %}
{% load static %} <!-- New line -->

<html>
	<head>
		<title>Rango</title>
	
	
		
	</head>
	<body>
{% block body_block %}

<div >
<h1>Ready to Rango</h1>
<p  >Find, Add, Share and Rango useful links and resources.</p>
</div>
<div class="row-fluid">
<div class="span6">
<h2>Top Five Categories</h2>
{% if categories %}
<ul>
{% for category in categories %}
<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<strong>No categories at present.</strong>
{% endif %}
</div>
<!--/span-->
<div class="span6">
<h2>Top Five Pages</h2>
{% if top_pages_list %}
<ul>
{% for page in top_pages_lists %}
<li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }}
{% endfor %}
</ul>
{% else %}
<strong>No pages at present.</strong>
{% endif %}
</div>
<!--/span-->
</div>
<!--/row-->
{% endblock %}			
	</body>
</html>
